canvas
  width: 100%
  height: auto

.sidebar__logo__container
  height: 60px
  width: 60px

.sidebar__logo__container__panel button
   width: 45px

.sidebar__pictures__container__picture
  height: 60px
  width: 60px

.sidebar__pictures__container__frame
  height: 60px
  width: 60px

.sidebar__pictures__container__image
  height: 60px
  width: 60px

.sidebar__pictures__container__panel
  position: absolute
  display: flex
  bottom: 0

.sidebar__pictures__container__panel__editBtn,
.sidebar__pictures__container__panel__deleteBtn
  width: 45px
