html
  overflow-x: hidden

  .sidebar__pictures__container__image
    height: 80px
    width: 80px

  .sidebar__pictures__container__panel
    position: absolute
    display: flex
    bottom: 0

    .sidebar__pictures__container__panel__editBtn
      width: 40px
      height: 40px

    .sidebar__pictures__container__panel__deleteBtn
      width: 40px
      height: 40px

  .work-space__sheet
    display: grid
    height: 65vh

    .workspace-image, .workspace-logo
      grid-area: 1/1